<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">effects</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="usuario/1">Usuario</a>
          </li>
        </ul>

        <input  #txtInput (keyup.enter)="irUsuario( txtInput.value )"
        class="form-control mr-sm-2" type="search" placeholder="ID usuario">

        <button (click)="irUsuario( txtInput.value )" class="btn btn-success my-2 my-sm-0" type="button">Buscar</button>
      </div>
    </div>


  </div>
</nav>

