<div class="alert alert-info" role="alert" *ngIf="loading">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
  <p class="mb-0"></p>
</div>

<div class="alert alert-danger" role="alert" *ngIf="error">
  <h4 class="alert-heading">Error</h4>
  <pre>
    {{ error | json}}
  </pre>
  <p class="mb-0"></p>
</div>


<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-6 g-4" *ngIf="!loading">
  <div class="col" *ngFor="let user of usuarios">
    <div class="card">

      <img class="card-img-top" [src]="user.avatar" alt="Image of avatar">

      <div class="card-body">
        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis nam ad distinctio temporibus. Eos quidem eaque exercitationem iusto harum nesciunt.</p>
        <p class="card-text">
          <span class="text-muted">ID : {{user.id}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

